ion-content {
    --ion-background-color:#566573;
}

ion-toolbar {
    --ion-background-color:#566573;
}

ion-title {
    color:#EAECEE;
    text-align: center;
}

ion-card {
    color:#EAECEE;
    text-align: center;
}

#map {
    height: 500px;
    width: 100%;
}

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: relative;
    bottom: 125%;
    text-align: center;
    box-sizing: border-box;

    content: attr(data-tooltip);
    color: #ffffff;
    background: black;
    padding: 8px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;

    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s;
}

.tooltip-left [data-tooltip]::after {
    left: -85%;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}