<div class="div">
  <ion-header>
    <ion-toolbar>
      <ion-title class="center2">
        <img alt="logo" id="header_logo" height="50" width="200" float-left src="../../assets/data_viz_logo.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <canvas  baseChart #baseChart="base-chart" class="graph"
    [datasets]="chartData"
    [labels]="chartLabels"
    [chartType]="chartType"
    [options]="chartOptions"
    >
    </canvas>
    
  </ion-content>
  
  <ion-label >Settings</ion-label>
  
  <button class="accordion"(click)="IonViewDidLoad()" >Line Graph</button>
  <div class="panel">
    <ion-segment color='danger' [(ngModel)]='segment'>
  
      <ion-segment-button class="whitetext2"  value='Month'>
    Month 
      </ion-segment-button>
  
      <ion-segment-button class="whitetext2" value='Year'>
    Year
      </ion-segment-button>
    </ion-segment>
  
    <div  [ngSwitch]='segment'>
  
    <ion-list *ngSwitchCase="'Month'" >
      <ion-label >Others</ion-label>
    <ion-item>
        <ion-item class="alignment">
          <ion-label class="whitetext">Yaxis:</ion-label>
          <ion-select class="whitetext" interface="popover" [(ngModel)]="yaxis" name="No. of Dengue Case" placeholder="No. of Dengue Case">
            <ion-select-option value="case" >No. of Dengue Case</ion-select-option>
            <ion-select-option value="temp">Avg Temp(Degree)</ion-select-option>
            <ion-select-option value="rainfall">Total Rainfall(MM)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-label class="center2">Haze</ion-label>
      <ion-item>
        <ion-item class="alignment">
          <ion-label class="whitetext">Yaxis:</ion-label>
          <ion-select class="whitetext" interface="popover" [(ngModel)]="yaxis" name="North average PSI" placeholder="North average PSI">
            <ion-select-option value="north" >North average PSI</ion-select-option>
            <ion-select-option value="south" >South average PSI</ion-select-option>
            <ion-select-option value="east" >East average PSI</ion-select-option>
            <ion-select-option value="west" >West average PSI</ion-select-option>
            <ion-select-option value="central" >Central average PSI</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-label class="center2">Wind direction</ion-label>
      <ion-item>
        <ion-item class="alignment">
          <ion-label class="whitetext">Yaxis:</ion-label>
          <ion-select class="whitetext" interface="popover" [(ngModel)]="yaxis" name="North average wind direction(%)" placeholder="North average wind direction(%)">
            <ion-select-option value="nwind" >North average wind direction(%)</ion-select-option>
            <ion-select-option value="newind" >Northeast average wind direction(%)</ion-select-option>
            <ion-select-option value="ewind" >East average wind direction(%)</ion-select-option>
            <ion-select-option value="sewind" >Southeast average wind direction(%)</ion-select-option>
            <ion-select-option value="swind" >South average wind direction(%)</ion-select-option>
            <ion-select-option value="swwind" >Southwest average wind direction(%)</ion-select-option>
            <ion-select-option value="wwind" >West average wind direction</ion-select-option>
            <ion-select-option value="nwwind" >Northwest average wind direction(%)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-button expand="block"color="danger" (click)="getData()">Update</ion-button>
    </ion-list>
  
    <ion-list *ngSwitchCase="'Year'">
      <ion-label class="center2">Others</ion-label>
      <ion-item>
        <ion-item class="alignment">
          <ion-label class="whitetext">Yaxis:</ion-label>
          <ion-select  class="whitetext" interface="popover" [(ngModel)]="yaxis" name="No. of Dengue Case" placeholder="No. of Dengue Case">
            <ion-select-option value="case" >No. of Dengue Case</ion-select-option>
            <ion-select-option value="temp">Avg Temp(Degree)</ion-select-option>
            <ion-select-option value="rainfall">Total Rainfall(MM)</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button color="danger" (click)="getData2()">Update</ion-button>
      </ion-item>
      <ion-list>
      <ion-label class="center2">Haze</ion-label>
        <ion-button expand="block"color="danger" (click)="getData3()">Update</ion-button>
      <ion-label class="center2">Wind direction</ion-label>
        <ion-button expand="block" color="danger" (click)="getData4()">Update</ion-button>
      </ion-list>
    </ion-list>
    
    </div>
  </div>
  
  <button class="accordion"(click)="IonViewDidLoad()">Scatter Plot</button>
  <div class="panel">
    <ion-segment color='danger' [(ngModel)]='segment2'>
      <ion-segment-button class="whitetext2" value='Others'>
    Others
      </ion-segment-button>
  
      <ion-segment-button class="whitetext2" value='Hazexwind'>
    Haze x Winddir
      </ion-segment-button>
    </ion-segment>
    
    <div [ngSwitch]='segment2'>
  
    <ion-list *ngSwitchCase="'Others'" > 
      <ion-item>
  
        <ion-item class="alignment">
          <ion-label class="whitetext">Yaxis:</ion-label>
          <ion-select  class="whitetext"interface="popover" [(ngModel)]="yaxis2" name="No. of Dengue Case" placeholder="No. of Dengue Case">
            <ion-select-option value="case" >No. of Dengue Case</ion-select-option>
            <ion-select-option value="rainfall">Total Rainfall(MM)</ion-select-option>
            <ion-select-option value="temp">Avg Temp(Degree)</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item class="alignment">
          <ion-label class="whitetext">Xaxis:</ion-label>
          <ion-select class="whitetext" interface="popover" [(ngModel)]="xaxis2" name="No. of Dengue Case" placeholder="No. of Dengue Case">
            <ion-select-option value="case">No. of Dengue Case</ion-select-option>
            <ion-select-option value="rainfall">Total Rainfall(MM)</ion-select-option>
            <ion-select-option value="temp" >Avg Temp(Degree)</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button color="danger"(click)="getscatter()">Update</ion-button>
      </ion-item>
      
    </ion-list>
  
    <ion-list *ngSwitchCase="'Hazexwind'">
      <ion-button expand="block" color="danger" class="center2" (click)="getscatter2()">Update</ion-button>
    </ion-list>
    
    </div>
  
  </div>
  
  </div>